
.App {

  background-image: linear-gradient(to bottom, #0a0a0a 50%, #b20000);
  background-size: cover;
  text-align: center;

}

.App-logo {
  padding: 3rem;
  height: 50vmin;
  pointer-events: none;
}

.App-eagle {
  height: 75vmin;
  pointer-events: none;
  border-radius: 30px;
  box-shadow: 10px 5px 5px orange;
}

.Graph {
  margin-top: 5rem;
  height: 50vmin;
  border-radius: 30px;
  box-shadow: 10px 5px 5px orange;

}

.App-graph-p{
  justify-content: center;
  display: grid;
  color: red;
  background-color: transparent;
  margin: 2rem;


}

.App-graph-a {

}



.App-nav {
  background-color: saddlebrown;

}

.App-li-a {
  display: inline-flex;
}

.App-title {

}

.Nav-logo {

  background-color: black;
  height: 15vmin;
}


.App-header{
  background-color: saddlebrown;
  color: blue;
  margin-top: 0rem;
  margin-right: 20rem;
}




.App-link {
  color: #f50707;
}

.App-gabby {
  background-color: red;
  align-text: center;
  display: inline-grid;
  height: 50vmin;
  border-radius: 30px;
  box-shadow: 10px 5px 5px orange;
}

p {
  color: red;
}


a {
  margin: 2rem;
}


h1 {
  color: #f50707;
  background-color: transparent;
}


.Southwest {
  height: 50vmin;
  border-radius: 30px;
  box-shadow: 10px 5px 5px orange;
  margin: 2rem;

}



.App-mel {
  height: 75vmin;
  border-radius: 30px;
  box-shadow: 10px 5px 5px orange;
  display: inline-grid;
}

.Button-one {

  margin: 2rem;

}

.App-welcome {
  background-color: transparent;
  color: red;
  text-align: center;
  border-radius: 30px;
}

.App-home
{
  background-color: transparent;
  border-radius: 30px;
}

App-footer-link {
  color: red;
  display: inline-flex;
  position: absolute;
}

footer {

  background-color: saddlebrown;


}

.App-footer-row {

  align-items: center;
  align-content: center;
  margin: 0;
}

h2 {
  margin-bottom: 0;
}

.Nav-btn {
  margin: 2rem;
  background-color: yellow;
  border-radius: 36px;
  display: inline-flex;
}


.Nav-row {
  display: inline;
}

.Task-force {

  align-content: center;
  display: inline-flex;
}
.Tribe {
  margin: 2rem;
}