.App {
  background-image: url("alienThrone.jpeg");
  background-size: cover;
  color: #0a0a0a;
  text-align: center;
}

.App-logo {
  height: 75vmin;
  pointer-events: none;
}

.App-eagle {
  height: 75vmin;
  pointer-events: none;
}

.Graph {
  height: 50vmin;

}

.App-graph-p{
  justify-content: center;
  display: grid;
  color: red;
  background-color: black;

}

.App-graph-a {

}



.App-nav {
  background-color: darkred;
  align-content: center;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.App-ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.App-ul-a {
  display:;
  justify-content: center;


}

.App-link {
  color: #0a0a0a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

.App-gabby {
  background-color: black;
  align-text: center;
  display: inline-grid;
  height: 50vmin;
}




a {
  margin: 2rem;
}


h1 {
  color: #f50707;
  background-color: grey;
}



a{
  display: inline-grid;
  padding: 1rem;
}


.App-mel {
  height: 75vmin;
}

.App-welcome {
  background-color: black;
  color: white;
  text-align: center;
}

.App-home
{
  background-color: black;
}

App-footer-link {
  display: inline-flex;
  position: absolute;
}

footer {
  background-color: grey;
  height: 25vmin;
}